* {
    margin: 0px;
    padding: 0px;
    background-color: gainsboro;
    /* background: linear-gradient(100deg, #b9bfdc 0%, #a66fdd 100%); */
}



.form_card {
    
    
    width: 450px;
}
.sign_card {
    width: 450px;
    height: 372px;
    margin: auto;
    margin-top: 200px;
    border-radius: 15px;
    padding: 15px;
}
.btn-primary{
    /* background: linear-gradient(100deg, #b9bfdc 0%, #29044d 100%); */
    width: 354px;
    
}